.forecast-container {
  gap: 10px;
}

.forecast-card {
  border-radius: 12px;
  border: 1px solid #fff;
}

.time-forecast-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  max-height: 400px;
  overflow-y: auto;
}

.time-forecast-container img {
  max-width: 50px;
  height: 100%;
}
