.forecast-container {
  display: flex;
  gap: 10px;
}

.forecast-card {
  border-radius: 12px;
  border: 1px solid #fff;
}

.time-forecast-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.current-forecast-container {
  width: 50%;
}
